/* CSS declarations go here */
.linkColumn {
    text-align: center;
    text-decoration: underline;
}

body{
    padding-top: 70px;

}

.formItem{
    display: inline-block;
}

.linkHeader{
    flex: auto;
}

li div {
    flex-wrap: wrap;
    text-align: center;
}
ul{
    list-style: none;
    font-size:30px;
}

.formItem{
    margin:12px;
    display: flex;
}

