/* CSS declarations go here */
.linkColumn {
    text-align: center;
    text-decoration: underline;
}

body{
    padding-top: 70px;

}

.formItem{
    display: inline-block;
}

.linkHeader{
    flex: auto;
    padding-bottom:60px;
}

li div {
    flex-wrap: wrap;
    text-align: center;
}
ul{
    list-style: none;
    font-size:30px;
}

.formItem{
    margin:12px;
    display: flex;
}

.link{
    font-size:20px;
}

.shortLinks{
    padding-top: 50px;
}

.shortened {
    color: blue;
}
.original {
    color: red;
}
.timesClicked {
    color:black;
}

.targetDiv {
    padding-top:12px;
}

#shortenedTarget {
    padding-top: 20px;
}

.listRefresh{

}
