/* CSS declarations go here */
.linkColumn {
    text-align: center;
    text-decoration: underline;
}

body{
    padding-top: 70px;

}

.formItem{
    display: inline-block;
}

.linkHeader{
    font-size:30px;
}
